<div class="pt-5">  
  <div class="global-container">  
    <div class="card login-form">  
    <div class="card-body">  
        <h3 class="card-title text-center"> Please Login </h3>  
        <div class="card-text">  
            <form>
                <select class="form-select" aria-label="Default select example" id="userType">
                   <option selected>Select User Type</option>
                   <option value="RegOff">Registry Official</option>
                    <option value="Citizen">Citizen</option>
                   
                </select>  
                <div class="form-group">  
                    <label for="exampleInputEmail1"> Enter User ID</label>  
                    <input type="text" class="form-control form-control-sm" id="name11" >  
                </div>  
                <div class="form-group">  
                    <label for="exampleInputPassword1">Enter Password </label>   
                    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">  
                </div>  
                <button type="submit" class="btn btn-primary btn-block" onclick="login(event)" > Login </button>  
                
         
            </form>  
        </div>  
    </div>  
</div>  
</div>  