<div style="text-align: center; margin :20px auto;">

   <button onclick="createNewProperty()" class="btn btn-primary">Create New Property</button>

   <button onclick="displayProperties()" class="btn btn-primary">All Properties</button>

   <button onclick="registerNewUser()" class="btn btn-primary">Register New User</button>

  <button onclick="displayUsers()" class="btn btn-primary">All Users</button>

</div>


<div id="createNewProperty" >

     <h2>
    Create new Property
   </h2>

<form id="addform">
    <table>
        <tr>
            <td>PropertyId</td>
            <td><input type="text" id="PropertyId1" /></td>
        </tr>

         <tr>
            <td>Property Name</td>
            <td><input type="text" id="PropertyName1" /></td>
        </tr>

        <tr>
            <td>Property Value</td>
            <td><input type="text" id="PropertyValue1" /></td>
        </tr>
       
        <tr>
            <td></td>
            <td> <button onclick="addProperty(event)">Add New Property</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>

<br>
<h2>
    Query Property
</h2>

<form id="readform">
    <table>
        <tr>
            <td>PropertyId</td>
            <td><input type="text" id="readPropertyId" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="readData(event)">Query Property</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>

</div>

<div id="displayProperties" style="display: none;"></div>

<div id="regProperty" style="display: none;"></div>




<div id="registerNewUser" style="display: none;">

    <h2>
    Create new User
   </h2>

<form id="addform">
    <table>
        <tr>
            <td>UserId</td>
            <td><input type="text" id="UserId1" /></td>
        </tr>

         <tr>
            <td>User Name</td>
            <td><input type="text" id="UserName1" /></td>
        </tr>
       
        <tr>
            <td></td>
            <td> <button onclick="addUser(event)">Add New User</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>

{{!-- <br>
<h2>
    Query User
</h2>

<form id="readform">
    <table>
        <tr>
            <td>User Id</td>
            <td><input type="text" id="readUserId" /></td>
        </tr>
        <tr>
            <td></td>
            <td> <button onclick="readUser(event)">Query User</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form> --}}
</div>

<div id="displayUsers" style="display: none;"></div>

<div id="propHistory1"></div>
