<div style="text-align: center; margin :20px auto;">

   <button onclick="disUserProf()" class="btn btn-primary">User Profile</button>

   <button onclick="displayUserProperties()" class="btn btn-primary">User Properties</button>

  <button onclick="PropertiesForSale()" class="btn btn-primary">Properties For Sale</button>

</div>

<div id="disUserProf" class="profile-container">
    
</div>
<script>disUserProf();</script>
<div id="displayUserProperties" ></div>

<div id="buyPropertyForm" ></div>

<div id="PropertiesForSale" ></div>

<div id="auctProperty" style="display: none;"></div>

<div id="propHistory2"></div>