body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form {
  padding: 50px;
  border: 1px solid black;
  margin: 2px auto;
  text-align: center;
}

html {   
  height: 100%;   
}  
body {   
  height: 100%;   
}  
.global-container {  
  height: 100%;  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  background-color: #f5f5f5;  
}  
form {  
  padding-top: 10px;  
  font-size: 14px;  
  margin-top: 30px;  
}  
.card-title {   
font-weight: 300;  
}  
.btn {  
  font-size: 14px;  
  margin-top: 20px;  
} 
table {
  padding: 50px;
  border: 1px solid black;
  margin: 2px auto;
  text-align: center;
}

h1 ,h2 ,p{
  text-align: center
}

button{
  text-align: center
}

td, th {
  margin: 10px;
}

.sign-up {  
  text-align: center;  
  padding: 20px 0 0;  
} 

.login-form {   
  width: 330px;  
  margin: 20px;  
}


.myTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.myTable td, .myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.myTable tr:nth-child(even){background-color: #f2f2f2;}

.myTable tr:hover {background-color: #ddd;}

.myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


.profile-container {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}